doctype html
html(lang="en")
  head
    title= pageTitle
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="assets/application.css")
    //- Google Fonts
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700', rel='stylesheet', type='text/css')
  body#react
    
    script(type='text/javascript', src="/assets/vendor")
    script(type='text/javascript', src="/assets/application")
    if environment=="development"  
      script(type='text/javascript').
        console.log("Development Environment")
